setuptools
numpy
pandas
matplotlib
seaborn
plotly
dash==2.11.1 
dash-bootstrap-components==1.4.0
scikit-learn
ipywidgets
scipy
xgboost 
lightgbm
torch 
torchvision 
torchaudio
nltk 
spacy 
transformers 
datasets
statsmodels
jupyter
